# Ignore everything but still look into sub directories
*
!*/

# Allow base git files
!.gitignore
!README.md

# Mod related files and directories
!/Data/ATE_LetMeClimbThat.esp
!/Data/Sound/Voice/ATE_LetMeClimbThat/**